*{
    margin: 0;
}

body{
     background-color:rgb(220, 183, 255);
}
header{
    display: flex;
    background-color: rgb(82, 48, 111);
   justify-content: center;
}

header h1{
    color: rgb(100, 208, 172);
    font-family: 'Courier New', Courier, monospace;
}
 
header p{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(100, 208, 172);
}

.oquee{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

div h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.comofunciona{
     background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.comofunciona img {
height: 150px;

}

.comofunciona img:hover{
     transform: scale(1.2);
        transition: 600ms;
}


.qualarelacao{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.comoojavascript{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px
}

.selecaodeelementos{
   background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px 
}

.criacaodeelementos{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px 
}

.Textos{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px 
}

.estilo{
    background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px 
}

nav ul li a{ 
    color: rgb(100, 208, 172);
}

.eventos{
     background-color: rgb(100, 208, 172);
    width: 88%;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px 
}